body {
    font-family:"Orbitron";
    background-color: #f9f9f9;
    margin: 0;
    padding: 50px;
    background:linear-gradient(#2bd659, #17bf9b);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top:150px;
}

h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

p {
    text-align: center;
    margin-top: 15px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.container2 {
    text-align: center;
    position: relative;
    left:1000px;
    top:-30px;
}
.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #45a049;
}
.navbuttons{
    background-color: #4CAF50;
    font-size: large;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    left:577px;
}