
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Orbitron";
    background-color: #f4f4f4;
    color: #333;
    background:linear-gradient(#2bd659, #17bf9b);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #75e0c0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select, input[type="date"], input[type="time"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width:200px;
    position: relative;
    left:460px;
    top:20px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.results {
    margin-top: 20px;
}

.car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.car-item {
    background: #45a049;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    flex: 1 1 calc(30% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.car-item img {
    max-width: 100%;
    border-radius: 4px;
}

.car-item h3 {
    margin: 10px 0 5px;
    font-size: 1.2em;
}

.car-item p {
    color: #ddd;
}

.car-item:hover {
    transform: scale(1.02);
}
.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
    position:relative;
    left:2010px;
    top:20px;
}

.home-button:hover {
    background-color: #45a049;
}
.site-item{
    background: #45a049;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    flex: 1 1 calc(30% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}
.site-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #75e0c0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.site-item img{
    max-width: 100%;
    border-radius: 4px;
}